/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Sofia+Sans:wght@300&display=swap');

/* default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/* heading */

#heading {
    padding: 70px 0;
    margin: 0px;
    border: 0;
    height: 160px;
    color: #ffffff;
    background-color: rgb(53, 68, 153);
    box-shadow: 0px -6px rgba(0, 0, 0, 0.6);
    background: url("../images/header.jpg") no-repeat center center/cover;
}

/* nav menu */

#menu {
    padding: 20px 0 50px;
    text-align: center;
    font-weight: 900;
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
    background-color: rgba(60, 60, 60, .5);
}

header a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    align-items: baseline;
}


.current {
    text-decoration: underline;
}

/* Main body */

body {
    display: flex;
    flex-direction: column;
    font-size: medium;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    background-color: #c9e9f6;
}

h3,
h4,
h5 {
    font-family: 'Sofia Sans', sans-serif;
    font-size: x-large;
    font-style: italic;
    font-weight: 900;
    padding-bottom: 8px;
}


#main-content {
    padding: 20px;
    height: 700px;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: small;
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    overflow: scroll;
}

/* Landing page */

#welcome {
    text-align: center;
    font-size: xx-large;
    font-family: 'Sofia Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

#intro {
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: row-reverse;
}

#you-will-find {
    padding: 15px;
    margin: 10px;
    margin-left: 5px;
    border: black solid 2px;
    width: 60%;
    justify-content: space-around;
    align-content: center;
    background-color: #0a6dd6;
    font-size: x-large;
    font-family: 'Oswald', sans-serif;
}

/* circle image and video */

#circle-img {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    border: black solid 2px;
    flex: 2;
}

#circle-img img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}


video {
    position: relative;
    height: auto;
    width: 100%;
    background-color: black;
}

/* benefits page */

#influence {
    padding-left: 30px;
}

#benefits {
    padding-left: 30px;
}

/* color and alignment of content benefits and techniques */

.align-right {
    background: #007a8a;
    padding: 20px;
    margin-bottom: 20px;
}

.align-left {
    background-color: #9cea4d;
    padding: 20px;
    margin-bottom: 20px;
}

/* sign up page */

#main-form {
    padding: 0;
    text-align: center;
    justify-content: center;
    font-size: small;
    width: 100%;
    height: 900px;
    background-image: url(../images/stones.jpg);
    background-size: cover;

}

#email-form {
    padding: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: auto;
    color: #fafafa;
    font-size: small;


}

#form-background {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(60, 60, 60, .6);
}

/* submit button */

#submit {
    color: #ffffff;
    font-weight: 900;
    font-size: large;
    background-color: rgb(53, 68, 153);
    padding: 10px;
    border: 3px solid #6f6767;
    margin-top: 10px;
    width: 150px;
    border-radius: 45%;
}

#submit:active {
    background-color: black;
}

#buttons {
    padding: 10px;
    justify-content: space-around;
}

/* footer and social links */

footer {
    padding: 20px 40px 20px;
    background-color: rgb(0, 5, 147);
    box-shadow: 0px -6px rgba(0, 0, 0, 0.6);
}

#social-icons {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}


#social-icons i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Media Queries */

/* mobile phone and tablets */
@media (min-width: 200px) and (max-width: 650px) {

    #heading {

        padding-top: 0;
    }

    #intro {
        display: block;
        align-items: center;
    }

    #you-will-find {
        width: 100%;
        position: relative;
        text-align: center;
        border: black solid 2px;
        background-color: #0a6dd6;
        padding: 15px;
        margin: 10px;

    }

    #circle-img {
        position: relative;
        left: 10px;
        align-self: center;
        width: 100%;
        height: auto;
        border-radius: 0;
        overflow: hidden;
        border: black solid 2px;
    }

    #circle-img img {
        width: 100%;
        height: auto;
        margin-left: 0;

    }

    .align-right {
        padding: 5px;
        margin-bottom: 0;
    }

    .align-left {
        padding: 5px;
        margin-bottom: 0;
    }

    ul {
        list-style-type: none;
    }

    #menu {
        flex-direction: column;
    }

    #main-content {
        font-family: 'Lato', sans-serif;
        font-size: large;
        padding-left: 25px;
    }



}


/* large tablets, laptops and pc */
@media (min-width: 650px) and (max-width: 1024px) {

    #circle-img {
        position: relative;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border: black solid 2px;
    }

    #circle-img img {
        margin-left: -20%;
    }

    #main-content {
        padding: 20px;
        text-align: left;
        justify-content: center;
        font-size: 1em;
        width: 100%;
    }

    .align-right {
        text-align: right;
        padding: 10px 5px 10px;
    }

    .align-left {
        text-align: left;
        padding: 10px 5px 10px;
    }

    #email-form {

        align-items: center;
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100%;

    }


}

/* screens larger than 1024px */
@media (min-width: 1024px) {

    #you-will-find {
        height: 450px;
    }

    #circle-img {
        position: relative;
        width: 500px;
        height: 500px;
    }

    #main-content {
        padding: 40px;
        text-align: left;
        justify-content: center;
        font-size: x-large;
        height: 100%;
        width: 100%;
    }

    .align-right {
        text-align: right;
        padding: 10px 5px 10px;
    }

    .align-left {
        text-align: left;
        padding: 10px 5px 10px;
    }


    #main-form {
        height: 900px;
    }

    #email-form {
        width: 400px;
        height: 900px;
        font-size: large;
        padding: 150px;
    }

    h3 {
        font-size: xx-large;
    }

    #main-form {
        height: 900px;
    }

    #email-form {
        width: 400px;
        height: 900px;
        font-size: large;
        padding: 150px;
    }


}

/* screens with height exciding 1024px */
@media (min-width: 768px) and (min-height: 1024px) {
    #main-form {
        height: 900px;

    }
}
