@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Sofia+Sans:wght@300&display=swap');

*{
    margin: 0;
    
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh; 
    
}


#heading {

    padding: 10px 0;
    margin: 0px;
    justify-content: flex-start;
    color: #ffffff;
    text-align: center;
    border: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    

}

#head-image {
    height: 140px;
    width: 100%;
    background: url("../images/head3.jpg") no-repeat center center/cover;
    position: relative;

}

a:-webkit-any-link {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    align-items: baseline;
}

.current {
    text-decoration: underline;
}

#menu {
    list-style-type: none;
    text-decoration: none;
}



#main-content {

    padding: 20px;
    margin-top: 0px;
    justify-content: center;
    font-size: small;
    height: 100%;
    width: 100%;


}

.example-imges {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}


#email-form {
    background-color: transparent;
    border: 1px solid black;
    padding: 5px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;

}

#form-background {
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url(../images/Stones.jpg) no-repeat center cover/center;
    position: relative;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #000000;
}

#social-icons {
    text-align: center;
    padding: 40px 0 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}


#social-icons li {
    font-size: 160%;
    padding: 5%;
    color: #380bac;
}